<app-nav></app-nav>
<div class="ui container">
<h1>Admin Panel</h1>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide mobile wight wide tablet four wide computer column">
          <div class="ui card fluid">
              <div class="content" style="width:100%">
                <div class="header">Profile</div>
              </div>
              <div class="content" >
                <div class="ui small feed">
                  <div class="event">
                    <div class="content center aligned">
                      <div class="center aligned author">
                          <img class="ui image" style="width:210px" src="http://www.myiconfinder.com/uploads/iconsets/256-256-5d8cab7b01ffef290b73909d06d92705.png">
                        </div>
                      <div class="summary center aligned">

                         <h3>Name :  {{user_data['name']}}</h3>
                         Email :  {{user_data['email']}}<br>
                         Mobile :  {{user_data['phone']}}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="sixteen wide mobile wight wide tablet twelve wide computer column">
              <div class="content">
                <div class="ui form card fluid" style="padding:10px;">
                    <h3 class="header">Add New Travels</h3>
                    <div class="four fields">
                      <div class="field">
                        <label>Travel Name</label>
                        <input type="text" [(ngModel)]="Travel.travel_name" placeholder="Travel Name">
                      </div>
                      <div class="field">
                        <label>Type</label>
                        <input type="text" [(ngModel)]="Travel.type" placeholder="Type">
                      </div>
                      <div class="field">
                        <label>Number</label>
                        <input type="text" [(ngModel)]="Travel.number" placeholder="Number">
                      </div>
                      <div class="field">
                        <label>From</label>
                        <input type="text" [(ngModel)]="Travel.from" placeholder="From">
                      </div>

                    </div>
                    <div class="four fields">
                      <div class="field">
                        <label>To</label>
                        <input type="text" [(ngModel)]="Travel.to" placeholder="To">
                      </div>
                      <div class="field">
                        <label>Amount</label>
                        <input type="text" [(ngModel)]="Travel.amount" placeholder="Amount">
                      </div>
                      <div class="field">
                        <label>Time</label>
                        <input type="text" [(ngModel)]="Travel.time" placeholder="Time">
                      </div>
                      <div class="field">
                        <label>AC</label>
                        <input type="text" [(ngModel)]="Travel.ac" placeholder="AC">
                      </div>
                    </div>
                    <div class="field">
                        <label>Image(url)</label>
                        <input type="text" [(ngModel)]="Travel.image" placeholder="Image(url)">
                      </div>
                    <div *ngIf="loadingAddTravel==false" class="ui blue button" (click)="AddTravel()">Add Travels</div>
                    <div *ngIf="loadingAddTravel==true" class="ui active centered inline loader"></div>
                    <div *ngIf="AddTravelMessage.failed.length>0" class="ui red message">{{AddTravelMessage.failed}}</div>
                    <div *ngIf="AddTravelMessage.success.length>0" class="ui green message">{{AddTravelMessage.success}}</div>
                  </div>

                </div>


        </div>
                <div class="content" style="width:100%">
                    <h3 class="header">Travels</h3>
                    <div *ngIf="loading==true" class="ui active centered inline loader"></div>
                    <div *ngIf="EditTravelMessage.failed.length>0" class="ui fluid red message" style="width:100%">{{EditTravelMessage.failed}}</div>
                    <div *ngIf="EditTravelMessage.success.length>0" class="ui fluid  green message" style="width:100%">{{EditTravelMessage.success}}</div>
                </div>
                  <table name="editTravel" class="ui violet table" *ngIf="editStatus==true">

                      <tbody>
                          <tr>
                            <td></td>
                            <td>
                                <div class="ui tiny form">
                                  <label>Travel name</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.travel_name" placeholder="Travel Name" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>Type</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.type" placeholder="Type" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>Number</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.number" placeholder="Number" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>From</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.from" placeholder="From" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>To</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.to" placeholder="To" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>Amount</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.amount" placeholder="Amount" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>Time</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.time" placeholder="Time" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui tiny form">
                                  <label>AC (1/0)</label>
                                  <div class="one fields">
                                    <div class="field">
                                      <input [(ngModel)]="editFields.ac" placeholder="AC" type="text">
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="loadingEditTravel==true" class="ui active centered inline loader"></div>
                                <button *ngIf="loadingEditTravel==false" (click)="updateTravel()" class="ui mini violet button" style="width:100%">
                                    Update
                                </button>
                                <button *ngIf="loadingEditTravel==false" (click)="editStatus=false" class="ui mini violet button" style="width:100%">
                                    Cancel
                                </button>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <!-- <div *ngIf="loading==true" class="ui active centered inline loader"></div>
                  <div *ngIf="message.failed.length>0" style="width:100%" class="ui red message">{{message.failed}}</div>
                  <div *ngIf="message.success.length>0" style="width:100%" class="ui green message">{{message.success}}</div> -->
                <table class="ui violet table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Travel Name</th>
                          <th>Type</th>
                          <th>Number</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Amount</th>
                          <th>Time</th>
                          <th>AC</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of travels_list;index as i">
                          <td>{{i+1}}</td>
                          <td>{{x.name}}</td>
                          <td>{{x.type}}</td>
                          <td>{{x.number}}</td>
                          <td>{{x.from}}</td>
                          <td>{{x.to}}</td>
                          <td>{{x.amount}}</td>
                          <td>{{x.time}}</td>
                          <td>{{x.air_conditioner}}</td>
                          <td>
                              <button (click)="editTravelShow(x)" class="mini ui violet button">
                                  Edit
                              </button>
                              <button (click)="removeTravel(x.id)" class="mini ui purple button">
                                  Remove
                              </button>
                              <a [routerLink]="['/map', x.id]">
                                <button (click)="viewMap(x.id)" class="mini ui green button">
                                    Map
                                </button>
                              </a>
                              <!-- <button  routerLink="/map" class="mini ui button">
                                  View Map
                              </button> -->
                          </td>
                        </tr>
                    </tbody>
                </table>
                <div class="content" style="width:100%">
                  <h3 class="header">Bookings</h3>
                  <div *ngIf="loading==true" class="ui active centered inline loader"></div>
                  <div *ngIf="message.failed.length>0" class="ui red message">{{message.failed}}</div>
                  <div *ngIf="message.success.length>0" class="ui green message">{{message.success}}</div>
                </div>
                <table class="ui purple table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Customer</th>
                          <th>Contact</th>
                          <th>Travel Name</th>
                          <th>Vehicle Number</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Paid</th>
                          <th>Seats</th>
                          <th>Payment Type</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of user_bookings;index as i">
                          <!-- <td>01</td> -->
                          <td>{{i+1}}</td>
                          <td>{{x.user.name}}</td>
                          <td>{{x.user.phone}}</td>
                          <td>{{x.travel.name}}</td>
                          <td>{{x.travel.number}}</td>
                          <td>{{x.date}}</td>
                          <td>{{x.time}}</td>
                          <td>{{x.payment_status}}</td>
                          <td>{{x.seat_numbers}}</td>
                          <td>{{x.payment_type}}</td>
                          <td>
                              <button (click)="cancelBooking(x.id)" class="mini ui violet button">
                                  Cancel
                              </button>
                              <button *ngIf="x.payment_status=='paid'" (click)="setPaid(x.user_id,x.id,'unpaid')" class="mini ui purple button">
                                  Unpaid
                              </button>
                              <button *ngIf="x.payment_status=='unpaid'" (click)="setPaid(x.user_id,x.id,'paid')" class="mini ui purple button">
                                  Paid
                              </button>
                              <!-- <button  routerLink="/map" class="mini ui button">
                                  View Map
                              </button> -->
                          </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
<!-- <div class="ui container">
  <h2>Bus Position</h2>
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

</div> -->

<app-footer></app-footer>
