<app-nav></app-nav>
<div class="ui container">
  <h1>Bus Position</h1>
</div>
<div class="ui container">
  <h3>Bus Name : {{travel_details.name}}</h3>
  Latitute : {{lat}}<br>
  longitude : {{lng}}
  <!-- <iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{product.mall.lat}},{{product.mall.long}}&amp;key= key"  allowfullscreen></iframe> -->
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

</div>

<app-footer></app-footer>
