.bookForm{
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding:10px;
    width:60%;
    height:auto;
}
.BookDetailsCard{
    width:100% !important;
}

.ui.grid>.column:not(.row){
  padding:4px;
}

@media screen and (max-width: 767px){
    .bookForm{
        width:80%;
    }
}
