<app-nav></app-nav>
<div class="bookForm">
    <div class="ui form">
        <div class="hidden ui red message">message</div>
        <div class="hidden ui green message">Green</div>
        <h1>Book Now</h1>
        <div class="ui vertically divided grid aa">
            <div class="two column row">
            <!-- <div class="sixteen wide mobile eight wide tablet four wide computer column"> -->
              <div class="sixteen wide mobile wight wide tablet eight wide computer column">
                <div class="ui cards">
                    <div class="card BookDetailsCard">
                        <div class="content">
                          <div class="header">{{busData['name']}}</div>
                          <div class="meta">{{busData['number']}}</div>
                          <img style="width:100%;height:135px;" src="{{busData.image}}" alt="bus photo">
                          <div class="description">
                            This is "<b>{{busData['name']}}</b>" travel from {{busData.from}} to {{busData.to}}
                          </div>
                          <div class="ui red label " *ngIf="busData['air_conditioner']==1">Air condition : <b>Yes</b></div>
                          <div class="ui red label " *ngIf="busData['air_conditioner']==0">Air condition : <b>No</b></div>
                          <div class="ui red label ">Amount: <b>{{busData.amount}}/=</b></div>
                          <div class="ui red label ">Time: <b>{{busData.time}}</b></div><br>
                          <div class="field">
                              <!-- <label>Payment Method</label> -->
                                <hr>
                                <p >Number of Seats you were selected  : <b class="ui grey label">{{selected_seats.length}}</b></p>
                                <p >Total Payment : <b class="ui grey label">{{selected_seats.length * busData.amount}}/=</b></p>
                                <!-- <input [(ngModel)]="user.email" type="text" name="emails" placeholder="Type your email"> -->
                                <!-- <input type="text" name="emails" placeholder="Type your email"> -->
                                <div>
                                  <mat-form-field>
                                      <mat-label>Payment Method</mat-label>
                                      <mat-select [(ngModel)]="selectedPaymentType">
                                        <mat-option *ngFor="let x of payment_types" [value]="x">
                                            {{x}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="selectedPaymentType=='Card'" class="ui orange message">Sorry. Card option not available at the time</div>

                                    <mat-form-field>
                                    <input matInput (dateChange)="loadBookedSeats(busData.id,seletedDate)" [(ngModel)]="seletedDate" [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                            </div>
                            <!-- <button class="ui button fluid" (click)="<div *ngIf="loading==true" class="ui active centered inline loader"></div>gin()">Login</button> -->
                            <button *ngIf="loading==false" (click)="BookTravel(busData.id,busData.amount,busData.time)" class="ui button fluid blue">Book</button>

                            <div *ngIf="loading==true" class="ui active centered inline loader"></div>
                            <div *ngIf="message.failed.length>0" class="ui red message">{{message.failed}}</div>
                            <div *ngIf="message.success.length>0" class="ui green message">{{message.success}}</div>
                        </div>
                    </div>
                  </div>
                  <br>

              </div>
              <div class="column">
                  <div class="ui cards" style="padding:5px;width:270px">
                      <div class="card BookDetailsCard center aligned">
                        <div class="ui grey label" style="margin-bottom:3px;">Choose your date and pick up your seats</div>
                          <div class="content">
                              <div class="ui grid sixteen wide">
                                  <button class="fluid red ui button">Front</button>
                                  <div *ngFor="let seat of seats" class="four wide column"> <button (click)="BookSeat(seat.number)" style="" class="ui hidden toggle {{seat.color}} button">  {{seat.number}}</button></div>


                              </div>
                          </div>
                      </div>
                    </div>

              </div>

            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>
