
.filterDiv{
  width:100%;
  height:400px;
  padding:100px;
  overflow:hidden;
  // background-image: url('https://images.unsplash.com/photo-1499123785106-343e69e68db1?auto=format&fit=crop&w=1600&h=500&q=60');
  // background-image: url('https://themeenergy.com/themes/wordpress/transfers/wp-content/uploads/2015/08/keyvisual.jpg');
  background-image: url('https://cdn.goodlayers.com/limoking/wp-content/uploads/2015/11/slider-item-1.jpg');
  background-position: middle;
}
.filterBack{
  background-color: #ffffffed;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
.ui.menu:first-child{
  margin-bottom:0;
}


.bus-card {
  max-width: 200px;
  background-color: #f3f3f3;
}

.bus-header-image {
  background-image: url('https://www.tignes.net/uploads/media/page_block/0001/64/eead58cf6ce5b04a8aafe6423aaf2099146d5da9.jpeg');
  background-size: cover;
}
.ui.card, .ui.cards>.card{
  width:260px;
}

@media screen and (max-width: 767px){
  .filterDiv{
    width:100%;
    margin-left:2px !important;
    margin-right:2px !important;
    height:500px;
    overflow:hidden;
    // background-image: url('https://images.unsplash.com/photo-1499123785106-343e69e68db1?auto=format&fit=crop&w=1600&h=500&q=60');
    // background-image: url('https://themeenergy.com/themes/wordpress/transfers/wp-content/uploads/2015/08/keyvisual.jpg');
    background-image: url('https://cdn.goodlayers.com/limoking/wp-content/uploads/2015/11/slider-item-1.jpg');
    background-position: middle;
    padding:0 !important;
  }
}
