<!DOCTYPE html>
<html>
  <body id="root">
    <app-nav></app-nav>
    <!-- <div class="ui large inverted menu">
        <div class="ui container">
          <a><img height="100" class="left" src="../../assets/images/logo.png"/></a>
            <div class="ui right secondary menu">
              <div class="right item">
                <div class=""><a routerLink="/" class="ui button inverted">Home</a></div>
                <div class=""><a class="ui button inverted">About us</a></div>
                <div class=""><a class="ui button inverted">Contact us</a></div>
                <a class="item"></a>
                <div class=""><a routerLink="/login" class="ui green button">Log in</a></div>
                <div class=""><a routerLink="/signup" class="ui teal button">Sign Up</a></div>
              </div>
            </div>
          </div>
    </div> -->

    <div class="">
      <div class="filterDiv">
          <div class="ui container">
                <h1 style="color:white;">#1 Website to Reserve Your Bus Seat! 24x7</h1>
                <p style="color:white;">
                    Fully Fledged Booking & Reservation Services for Public Transport Services
                </p>
                <div class="ui stackable menu filterBack">
                  <a class="item active">
                    <mat-form-field>
                        <mat-label>From</mat-label>
                        <mat-select [(ngModel)]="fromSelect">
                          <mat-option *ngFor="let x of from_items" [value]="x">
                              {{x}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </a>
                  <a class="item">
                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <mat-select [(ngModel)]="toSelect">
                          <mat-option *ngFor="let x of from_items" [value]="x">
                              {{x}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </a>
                  <a class="item">
                      <mat-form-field>
                          <input matInput [(ngModel)]="seletedDate" [matDatepicker]="picker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </a>
                      <button style="width:200px;" class="ui large button" (click)="filterTravels()">
                        <i class="search icon"></i>
                        Search
                      </button>
                </div>
          </div>
      </div>

      <div class="ui container">
        <div *ngIf="loading==true" class="ui active centered inline loader"></div>
        <div *ngIf="message">
          <div class="ui red message">{{message}}</div>
        </div>
        <br>
        <div *ngIf="loading==false" class="ui cards">
            <div class="card" *ngFor="let n of items;index as i">
              <div class="ui top attached button" tabindex="0">{{n.name}}</div>
              <div class="content">
                <!-- <div class="header"></div> -->
                <img style="width:100%;height:125px;" src="{{n.image}}" alt="bus photo">
                <div class="description">
                  This is <b>{{n.name}}</b> from {{n.from}} to {{n.to}}.
                  <!-- <a class="ui grey button  mini">{{n.amount}}/=</a> -->

                  
                  <!-- <div class="five ui buttons">
                      <button  class="ui grey button mini"></button>
                      <button *ngIf="n.air_conditioner=='0'" class="ui grey button mini">NonAC</button>
                  </div> -->
                  <div class="grey ui buttons fluid">
                      <button class="ui mini grey button">{{n.amount}}/=</button>
                      <button *ngIf="n.air_conditioner=='1'" class="ui grey mini button basic">AC</button>
                      <button *ngIf="n.air_conditioner=='0'" class="ui grey mini button basic">NonAC</button>
                  </div>
                  
                </div>
              </div>
              <!-- <a routerLink="/book/{{n.id}}"> -->
                <div class="ui bottom green attached button" (click)="RedirectBooking(n.id)">
                  <i class="add icon"></i>
                  Book Now
                </div>
              <!-- </a> -->
            </div>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script>

    </script>
  </body>
</html>

