<app-nav></app-nav>
<div class="ui container">
  <h1>Dashboard</h1>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide mobile wight wide tablet four wide computer column">
          <div class="ui card fluid">
              <div class="content">
                <div class="header">Profile</div>
              </div>
              <div class="content">
                <div class="ui small feed">
                  <div class="event">
                    <div class="content center aligned">
                      <div class="center aligned author">
                          <img class="ui image" style="width:210px;" src="http://www.myiconfinder.com/uploads/iconsets/256-256-5d8cab7b01ffef290b73909d06d92705.png">
                        </div>
                      <div class="summary center aligned">

                         <h3>Name :  {{user_data['name']}}</h3>
                         Email :  {{user_data['email']}}<br>
                         Mobile :  {{user_data['phone']}}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="sixteen wide mobile wight wide tablet twelve wide computer column">
              <div class="content">
                  <h3 class="header">My Bookings</h3>
                  <div *ngIf="loading==true" class="ui active centered inline loader"></div>
                  <div *ngIf="message.failed.length>0" class="ui red message">{{message.failed}}</div>
                  <div *ngIf="message.success.length>0" class="ui green message">{{message.success}}</div>
                </div>
                <table class="ui red table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <!-- <th>Travel Name</th> -->
                          <th>Travels Name</th>
                          <th>Vehicle number</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Paid</th>
                          <th>Seats</th>
                          <th>Payment Type</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of user_bookings;index as i">
                          <!-- <!-- <td>01</td> -->
                          <td>{{i+1}}</td>
                          <!-- <td>{{x.vehicle_id}}</td> -->
                          <td>{{x.travel.name}}</td>
                          <td>{{x.travel.number}}</td>
                          <td>{{x.date}}</td>
                          <td>{{x.time}}</td>
                          <td>{{x.payment_status}}</td>
                          <td>{{x.seat_numbers}}</td>
                          <td>{{x.payment_type}}</td>
                          <td>
                              <button (click)="cancelBooking(x.id)" class="mini ui button">
                                  Cancel
                              </button>
                              <button  routerLink="/map/{{x['travel']['id']}}" class="mini ui button">
                                  View Map
                              </button>
                          </td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>
<!-- <div class="ui container">
  <h2>Bus Position</h2>
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

</div> -->

<app-footer></app-footer>
