<app-nav></app-nav>
<div class="about">

    <div class="ui form">
        <h1>About us</h1>
        QuickBooks Travels started as a small, yet organized operation, which has since then expanded rapidly in a short space of time. From humble beginnings in Sri Lanka, Our operation has spread across the world, with offices in Australia and China, as well as sister companies in Japan and Armenia. Our head office is currently based in Colombo, Sri Lanka, where we cater to travelers coming to Sri Lanka, India and Maldives, from all over the world.
        <img style="width: 100%;" src="http://covermyfb.com/media/covers/thumb/11714-retro-bus.jpg">


    </div>
</div>
<app-footer></app-footer>
