<div class="ui large inverted menu">
    <div class="ui container">
      <a routerLink="/"><img class="logoImage left" src="{{logoUrl}}"/></a>
        <div class="ui right secondary menu">
          <div class="right item mobile hidden">
            <div class=""><a routerLink="/" class="ui green button inverted">Home</a></div>
            <div class=""><a routerLink="/about" class="ui green button inverted">About us</a></div>
            <div class=""><a routerLink="/contact" class="ui green button inverted">Contact us</a></div>
            <a class="item"></a>
            <!-- <div > -->
              <div *ngIf="loginStatus==false" class=""><a routerLink="/login" class="ui green button">Log in</a></div>
              <div *ngIf="loginStatus==false" class=""><a routerLink="/signup" class="ui blue button">Sign Up</a></div>
              <!-- </div> -->
              <!-- <div > -->
                <div *ngIf="loginStatus==true" class=""><a routerLink="{{dashboard_link}}" class="ui green button">Dashboard</a></div>
                <div *ngIf="loginStatus==true" class=""><a  (click)="logout()" class="ui blue button">Logout</a></div>
            <!-- </div> -->

          </div>
        </div>
      </div>
      <br>
  <div class="right item mobile_menu row">
    <div class=""><a routerLink="/" class="ui green button inverted">Home</a></div>
    <div class=""><a routerLink="/about" class="ui green button inverted">About us</a></div>
    <div class=""><a routerLink="/contact" class="ui green button inverted">Contact us</a></div>
    <a class="item"></a>
    <!-- <div > -->
      <div *ngIf="loginStatus==false" class=""><a routerLink="/login" class="ui green button">Log in</a></div>
      <div *ngIf="loginStatus==false" class=""><a routerLink="/signup" class="ui blue button">Sign Up</a></div>
      <!-- </div> -->
      <!-- <div > -->
        <div *ngIf="loginStatus==true" class=""><a routerLink="{{dashboard_link}}" class="ui green button">Dashboard</a></div>
        <div *ngIf="loginStatus==true" class=""><a  (click)="logout()" class="ui blue button">Logout</a></div>
    <!-- </div> -->

  </div>
