body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
.ui.menu:first-child{
  margin-bottom:0;
}
.logoImage{
  height: 100px;
  margin:15px 0;
}
.mobile_menu{
  display:none !important;
}


@media screen and (max-width: 767px){
  .signupForm{
      width:80%;
  }
  .logoImage{
    height: 50px;
    margin:15px 0;
  }

  .navLaptop{
    display:none;
  }
  .mobile_menu{
    display: block !important;
  }
}
