<app-nav></app-nav>
<div class="contact">

    <div class="ui form">
        <h1>contact us</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3528.1134468194095!2d80.00801429482999!3d9.665267120746936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe53fd7be66aa5%3A0xc7da0d9203baf512!2sJaffna!5e1!3m2!1sen!2slk!4v1561787469519!5m2!1sen!2slk" width="800" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<app-footer></app-footer>
