<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div
        class="ui stackable inverted divided equal height stackable grid"
      >
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a class="item" href="#root">Mobile : 0212222222</a>
            <a class="item" href="#root">Email : quickbook@qb.com</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a class="item" href="#root">This is online bus booking portal</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Copyright</h4>
          <p>
            Copyright @QuickBook
          </p>
        </div>
      </div>
    </div>
  </div>
