<app-nav></app-nav>
<div class="signupForm">
    <div *ngIf="message.failed.length>0" class="ui red message">{{message.failed}}</div>
    <div *ngIf="message.success.length>0" class="ui green message">{{message.success}}</div>
    <div class="ui form">
        <h1>Signup</h1>
        <div class="field">
            <label>Name</label>
            <input [(ngModel)]="user.name" type="text" name="name" placeholder="Type your name">
        </div>
        <div class="field">
            <label>Mobile number</label>
            <input [(ngModel)]="user.mobile" type="text" name="mobile" placeholder="Type your mobile number">
        </div>
        <div class="field">
            <label>Email</label>
            <input [(ngModel)]="user.email" type="text" name="email" placeholder="Type your email">
        </div>
        <div class="field">
            <label>Password</label>
            <input [(ngModel)]="user.password" type="password" name="password" placeholder="Type your password">
        </div>
        
        <button *ngIf="loading==false" class="ui button fluid" (click)="Signup()">Signup</button>
        
        <div *ngIf="loading==true" class="ui active centered inline loader"></div>
    </div>
</div>
<app-footer></app-footer>