.signupForm{
    margin:0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding:10px;
    width:380px;
    height:auto;
}



@media screen and (max-width: 767px){
    .signupForm{
        width:80%;
    } 
}